

:root {
    /* for dark theme */
    --dark-body-bg: rgb(43, 43, 43);
    --dark-background-color: #111111;
    --dark-text-color: #eeeeee;

    --dark-primary-bg: rgb(51, 51, 51);

    /* for scroll */
    --dark-scrollBg: rgb(197, 197, 197);
    --dark-scrollBgHover: rgb(211, 211, 211);

    // gradient
    --dark-gradient: linear-gradient(90deg, rgba(0,255,244,1) 0%, rgba(232,255,0,1) 30%, rgba(0,202,255,1) 52%, rgba(0,255,21,1) 77%, rgba(0,255,244,1) 100%);

    --dark-text-shadow-color: rgb(0, 255, 170);
}

body {
    /* for light theme */
    --body-bg: rgb(239, 239, 239);
    --background-color: #ffffff;
    --text-color: #000000;

    --primary-bg: rgb(255, 255, 255);

    /* for scroll */
    --scrollBg: rgb(143, 143, 143);
    --scrollBgHover: rgb(113, 113, 113);

    color: var(--text-color);
    background: var(--body-bg);
    /* max-height: 100vh;
    position: relative; */

    --theme-color: rgb(0, 225, 255);

    // gradient
    --gradient: linear-gradient(90deg, rgba(255,132,0,1) 0%, rgba(255,0,121,1) 30%, rgba(255,0,44,1) 52%, rgba(255,0,206,1) 77%, rgba(255,132,0,1) 100%);

    --text-shadow-color: rgb(39, 136, 0);
}

body.theme-dark {
    /* for dark theme */
    --body-bg: var(--dark-body-bg);
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);

    --primary-bg: var(--dark-primary-bg);

    /* for scroll */
    --scrollBg: var(--dark-scrollBg);
    --scrollBgHover: var(--dark-scrollBgHover);

    // gradient
    --gradient: var(--dark-gradient);

    --text-shadow-color: var(--dark-text-shadow-color);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        /* for dark theme */
        --body-bg: var(--dark-body-bg);
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);

        --primary-bg: var(--dark-primary-bg);

        // gradient
        --gradient: var(--dark-gradient);
    }
}

body.color0 {
    --theme-color: rgb(0, 225, 255);
}

body.color1 {
    --theme-color: rgb(0, 110, 255);
}

body.color2 {
    --theme-color: rgb(255, 132, 0);
}

body.color3 {
    --theme-color: rgb(255, 0, 208);
}

body.color4 {
    --theme-color: rgb(255, 0, 51);
}
